<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        {% for key, flash in app.session.getFlashes() %}
        <div class="{{ flash }}">
            {{ key|trans({}, 'KnplabsTranslatorBundle') }}
        </div>
        {% endfor %}

        <div>
            {% block content %}
            {% endblock content %}
        </div>
        <script type="text/javascript" src="{{ asset('/js/ext-core-debug.js') }}"></script>
    </body>
</html>
