<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        {% for key, flash in app.session.getFlashes() %}
        <div class="{{ flash }}">
            {{ key|trans({}, 'KnpTranslatorBundle') }}
        </div>
        {% endfor %}

        <div>
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>
