{% extends 'KnpTranslatorBundle::layout.html.twig' %}

{% block content %}

<h1>{{ 'knplabs_translator.list'|trans({}, 'KnpTranslatorBundle') }}</h1>

{% for domain, translations in domains %}

    <h2>{{ domain }}</h2>

    <ul>
    {% for source in translations|keys %}
        <li>{{ source|trans({}, domain) }}</li>
    {% endfor %}
    </ul>

{% endfor %}

{% endblock content %}

