#knplabs-translator-container {
  position: absolute;
  margin: 0;
  padding: 1px 0px;
  right: 0px;

  opacity: 0.80;
  filter: alpha(opacity : 80);

  z-index: 10000;
  white-space: nowrap;
}

#knplabs-translator-container[id] {
  /*position: fixed;*/
}

#knplabs-translator-container .translator-form {
  padding: 0px 10px 0px 10px;
  background-color: #ddd;
  background-repeat:repeat-x;
  font-size: 12px;
  color: black;
  text-align: left;
  line-height: 12px;
}

#knplabs-translator-form input {
    margin-right: 20px;
}

#knplabs-translator-form input.source-locale {
    width: 20px;
}

#knplabs-translator-container .error {
    color: #D8000C;
    background-color: #FFBABA;
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
}

.untranslated {
    color: red;
    border: 1px solid red;
}
